src/pkgs/Wadl/Office365Users.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/office365users" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Office365Users" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Office 365 Users">Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/office365users" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <array typeRef="Person" name="LinklessEntityListResponse_List_Person___value_def" />
      <object name="LinklessEntityListResponse_List_Person__">
        <property name="value" typeRef="LinklessEntityListResponse_List_Person___value_def" />
      </object>
      <string name="Person_id_def" />
      <string name="Person_displayName_def" />
      <string name="Person_givenName_def" />
      <string name="Person_surname_def" />
      <string name="Person_birthday_def" />
      <string name="Person_personNotes_def" />
      <string name="Person_isFavorite_def" />
      <string name="Person_jobTitle_def" />
      <string name="Person_companyName_def" />
      <string name="Person_department_def" />
      <string name="Person_officeLocation_def" />
      <string name="Person_profession_def" />
      <string name="Person_userPrincipalName_def" />
      <string name="Person_imAddress_def" />
      <array typeRef="ScoredEmailAddress" name="Person_scoredEmailAddresses_def" />
      <array typeRef="Phone" name="Person_phones_def" />
      <object name="Person">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="givenName" type="string" />
        <property name="surname" type="string" />
        <property name="birthday" type="string" />
        <property name="personNotes" type="string" />
        <property name="isFavorite" type="string" />
        <property name="jobTitle" type="string" />
        <property name="companyName" type="string" />
        <property name="department" type="string" />
        <property name="officeLocation" type="string" />
        <property name="profession" type="string" />
        <property name="userPrincipalName" type="string" />
        <property name="imAddress" type="string" />
        <property name="scoredEmailAddresses" typeRef="Person_scoredEmailAddresses_def" />
        <property name="phones" typeRef="Person_phones_def" />
      </object>
      <string name="ScoredEmailAddress_address_def" />
      <number name="ScoredEmailAddress_relevanceScore_def" />
      <object name="ScoredEmailAddress">
        <property name="address" type="string" />
        <property name="relevanceScore" type="number" />
      </object>
      <string name="Phone_number_def" />
      <string name="Phone_type_def" />
      <object name="Phone">
        <property name="number" type="string" />
        <property name="type" type="string" />
      </object>
      <string name="User_Id_def" />
      <boolean name="User_AccountEnabled_def" />
      <string name="User_BusinessPhones_def_items_def" />
      <array type="string" name="User_BusinessPhones_def" />
      <string name="User_City_def" />
      <string name="User_CompanyName_def" />
      <string name="User_Country_def" />
      <string name="User_Department_def" />
      <string name="User_DisplayName_def" />
      <string name="User_GivenName_def" />
      <string name="User_JobTitle_def" />
      <string name="User_Mail_def" />
      <string name="User_MailNickname_def" />
      <string name="User_mobilePhone_def" />
      <string name="User_OfficeLocation_def" />
      <string name="User_PostalCode_def" />
      <string name="User_Surname_def" />
      <string name="User_TelephoneNumber_def" />
      <string name="User_UserPrincipalName_def" />
      <object name="User">
        <property name="Id" type="string" />
        <property name="AccountEnabled" type="boolean" />
        <property name="BusinessPhones" typeRef="User_BusinessPhones_def" />
        <property name="City" type="string" />
        <property name="CompanyName" type="string" />
        <property name="Country" type="string" />
        <property name="Department" type="string" />
        <property name="DisplayName" type="string" />
        <property name="GivenName" type="string" />
        <property name="JobTitle" type="string" />
        <property name="Mail" type="string" />
        <property name="MailNickname" type="string" />
        <property name="mobilePhone" type="string" />
        <property name="OfficeLocation" type="string" />
        <property name="PostalCode" type="string" />
        <property name="Surname" type="string" />
        <property name="TelephoneNumber" type="string" />
        <property name="UserPrincipalName" type="string" />
      </object>
      <boolean name="ClientPhotoMetadata_HasPhoto_def" />
      <integer name="ClientPhotoMetadata_Height_def" />
      <integer name="ClientPhotoMetadata_Width_def" />
      <string name="ClientPhotoMetadata_ContentType_def" />
      <string name="ClientPhotoMetadata_ImageFileExtension_def" />
      <object name="ClientPhotoMetadata">
        <property name="HasPhoto" type="boolean" />
        <property name="Height" type="integer" />
        <property name="Width" type="integer" />
        <property name="ContentType" type="string" />
        <property name="ImageFileExtension" type="string" />
      </object>
      <object name="Object" />
      <string name="UserPhoto_responses_200_def" />
      <array typeRef="User" name="DirectReports_responses_200_def" />
      <array typeRef="User" name="SearchUser_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/office365users">
    <resource path="/{connectionId}/users/{userId}/relevantpeople">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or email id" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="RelevantPeople">
        <doc title="Get relevant people&#xA;Get relevant people" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:LinklessEntityListResponse_List_Person__" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="MyProfile">
        <doc title="Get my profile&#xA;Retrieves the profile for the current user" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or email id" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="UserProfile">
        <doc title="Get user profile&#xA;Retrieves the profile for a specific user" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhotoMetadata">
        <doc title="Get user photo metadata&#xA;Get user photo metadata" />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="User principal name or email id" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ClientPhotoMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/photo/value">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="UserPhoto">
        <doc title="Get user photo&#xA;Get user photo" />
        <request>
          <param style="query" name="userId" type="xs:string" required="true">
            <doc title="User principal name or email id" />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/manager">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or email id" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="Manager">
        <doc title="Get manager&#xA;Retrieves the profile of the specified user's manager" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:User" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users/{userId}/directReports">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="userId" type="xs:string" required="true">
        <doc title="User principal name or email id" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="DirectReports">
        <doc title="Get direct reports&#xA;Retrieves the user profiles for the specified user's direct reports" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:DirectReports_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/users">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="SearchUser">
        <doc title="Search for users&#xA;Retrieves the user profiles that match the search term" />
        <request>
          <param style="query" name="searchTerm" type="xs:string">
            <doc title="Search string (applies to: display name, given name, surname, mail, mail nickname and user principal name)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SearchUser_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/testconnection">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="TestConnection">
        <doc title="Tests the connection&#xA;Tests the connection" />
        <request />
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="office365users" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>